<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр жанра</title>
</head>
<body>
    <h1 th:text="${genre.getName()}">Name</h1>
    <p th:text="${numberOfFollowers} +' людей любят этот жанр'">10 людей любят этот жанр</p>
    <div>
        <hr><a href="http://localhost:8080/genres"><button>Назад</button></a>
        <a th:href="@{/genres/{id}/edit(id=${genre.getId()})}"><button>Изменить</button></a>
        <form th:method="DELETE" th:action="@{/genres/{id}(id=${genre.getId()})}"><input type="submit" value="Удалить"/></form>
    </div>

    <p>Список книг с данным жанром</p>

    <hr>
</body>
</html>