<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{main/book-stack.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Просмотр жанра</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">WebBooks <img th:src="@{/main/book-stack.png}" height="15px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clients}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}">Книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/authors}">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/genres}">Жанры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Заказы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div>
        <h1 th:text="${book.getAuthor() + ' «' + book.getName() + '»'}">Author «Name»</h1>
        <div th:if="${book.getStatus().equals('Свободна')}">
            <h3 th:text="'Книга свободна '"></h3>
            <form th:method="POST" th:action="@{/orders}" th:object="${order}">
                <br><label for="client">Клиенты: </label>
                <select th:object="${order}" th:field="*{clientId}" id="client">
                    <option th:each="client : ${clientList}" th:value="${client.getId()}" th:text="${client.getName()}">Клиент</option>
                </select>
                <input type="hidden" th:value="${book.getName()}" th:field="*{bookName}"/>
                <input type="hidden" th:value="${book.getId()}" th:field="*{bookId}"/>
                <br><input type="submit" value="Забронировать книгу"/>
            </form>
        </div>
        <div th:if="${!book.getStatus().equals('Свободна')}">
            <h3>Книга в распоряжении </h3>
            <a th:href="@{/clients/{id}(id=${order.getClientId()})}"><h3 th:text="${bookOwner.getName()}">Ивана иванова</h3></a>
            <form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}"><input type="submit" value="Освободить"/></form>
        </div>
    </div>

    <div>
        <hr><a th:href="@{/books}"><button>Назад</button></a>
        <a th:href="@{/books/{id}/edit(id=${book.getId()})}"><button>Изменить</button></a>
        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}"><input type="submit" value="Удалить"/></form>
    </div>

    <hr>

    <div>
        [Автор]: <a th:href="@{/authors/{id}(id=${book.getAuthorId()})}"><p th:text="${book.getAuthor()}">Автор</p></a>
    </span>
        <p th:text="'[Жанр]: ' + ${book.getGenre()}">[Жанр]: genre</p>
        <p th:text="'[Год]: ' + ${book.getYear()}">[Год]: Год</p>
    </div>

<!--    необязательные поля-->

    <div th:if="${book.getDescription().isEmpty() || book.getDescription() == null}">
        <span>Описание: </span>
        <a th:href="@{/books/{id}/edit(id=${book.getId()})}"><button>Заполнить</button></a>
    </div>
    <div th:if="${!book.getDescription().isEmpty()}">
        <span th:text="'Описание: ' + ${book.getDescription()}">Адрес доставки: Адрес доставки</span>
    </div><hr>
</body>
</html>