<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр жанра</title>
</head>
<body>
    <div>
        <h1 th:text="${book.getAuthor() + ' «' + book.getName() + '»'}">Author «Name»</h1>
        <div th:if="${book.getStatus().equals('Свободна')}">
            <h3 th:text="'Книга свободна '"></h3>
            <form th:method="POST" th:action="@{/orders}" th:object="${order}">
                <br><label for="client">Клиенты: </label>
                <select th:object="${book}" th:field="*{authorId}" id="client">
                    <option th:each="client : ${clientList}" th:value="${client.getId()}" th:text="${client.getName()}">Клиент</option>
                </select>
                <br><input type="submit" value="Забронировать книгу"/>
            </form>
        </div>
        <div th:if="${!book.getStatus().equals('Свободна')}">
            <h3 th:text="'Книга в распоряжении'">Книга в распоряжении</h3>
            <form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}"><input type="submit" value="Освободить"/></form>
        </div>
    </div>

    <div>
        <hr><a th:href="@{/books}"><button>Назад</button></a>
        <a th:href="@{/books/{id}/edit(id=${book.getId()})}"><button>Изменить</button></a>
        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}"><input type="submit" value="Удалить"/></form>
    </div>

    <hr>

    <div>
        [Автор]: <a th:href="@{/authors/{id}(id=${book.getAuthorId()})}"><p th:text="${book.getAuthor()}">Автор</p></a>
    </span>
        <p th:text="'[Жанр]: ' + ${book.getGenre()}">[Жанр]: genre</p>
        <p th:text="'[Год]: ' + ${book.getYear()}">[Год]: Год</p>
    </div>

<!--    необязательные поля-->

    <div th:if="${book.getDescription().isEmpty() || book.getDescription() == null}">
        <span>Описание: </span>
        <a th:href="@{/books/{id}/edit(id=${book.getId()})}"><button>Заполнить</button></a>
    </div>
    <div th:if="${!book.getDescription().isEmpty()}">
        <span th:text="'Описание: ' + ${book.getDescription()}">Адрес доставки: Адрес доставки</span>
    </div><hr>
</body>
</html>