<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр автора</title>
</head>
<body>
    <h1 th:if="${author.getDateOfDeath() == null}" th:text="${author.getName() + ' (' + author.getDateOfBirth() + ' - по наст. время)'}">Author name (1222-1340)</h1>
    <h1 th:if="${author.getDateOfDeath() != null}" th:text="${author.getName() + ' (' + author.getDateOfBirth() + ' - ' + author.getDateOfDeath() + ')'}">Author name (1222-1340)</h1>

    <div>
        <hr><a th:href="@{/authors}"><button>Назад</button></a>
        <a th:href="@{/authors/{id}/edit(id=${author.getId()})}"><button>Изменить</button></a>
        <form th:method="DELETE" th:action="@{/authors/{id}(id=${author.getId()})}"><input type="submit" value="Удалить"/></form>
    </div>

    <div th:if="${author.getDescription().isEmpty()}">
        <span>Описание: </span>
        <a th:href="@{/authors/{id}/edit(id=${author.getId()})}"><button>Заполнить</button></a>
    </div>
    <div th:if="${!author.getDescription().isEmpty()}">
        <span th:text="'Описание: ' + ${author.getDescription()}">Адрес доставки: Адрес доставки</span>
    </div><hr>
</body>
</html>