<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование клиента</title>
</head>
<body>
    <h1 th:text="'Изменить данные клиента ' + ${client.getName()}">Изменить данные клиента</h1>
    <form th:method="PATCH" th:action="@{/clients/{id}(id=${client.getId()})}" th:object="${client}">
        <label for="name">Введите имя: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

        <br><label for="age">Введите возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</div>

        <br><label for="email">Введите email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>

        <br><label for="sex">Введите пол: </label>
        <select th:object="${client}" th:field="*{sex}" id="sex">
            <option value="Мужчина">Мужчина</option>
            <option value="Женщина">Женщина</option>
        </select>

        <br><label for="phoneNumber">Введите номер телефона: </label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
        <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">PhoneNumber Error</div>

        <br><label for="deliveryAddress">Введите адресс для доставки: </label>
        <input type="text" th:field="*{deliveryAddress}" id="deliveryAddress"/>
        <div style="color:red" th:if="${#fields.hasErrors('deliveryAddress')}" th:errors="*{deliveryAddress}">DeliveryAddress Error</div>

        <br><label for="description">Введите описание: </label>
        <input type="text" th:field="*{description}" id="description"/>
        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>

        <br><label for="favoriteGenre">Добавить любимый жанр</label>
        <select th:object="${client}" th:field="*{favoriteGenre}" id="favoriteGenre">
            <option th:each="genre : ${genreList}" th:value="${genre.getName()}" th:text="${genre.getName()}"></option>
            <option th:value="${'-'}" th:text="'-'"></option>
        </select>

        <br><input type="submit" value="Обновить"/>
    </form>

    <a th:href="@{/clients/{id}(id=${client.getId()})}"><button>Назад</button></a><hr>

</body>
</html>