<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр клиента</title>
</head>
<body>
    <h1 th:if="${client.getSex().equals('М')}" th:text="${client.getName()} + ', ' + ${client.getAge()} + ' 🧑'">Name, age</h1>
    <h1 th:if="${client.getSex().equals('Ж')}" th:text="${client.getName()} + ', ' + ${client.getAge()} + ' 👩'">Name, age</h1>

    <div>
        <hr><a th:href="@{/clients}"><button>Назад</button></a>
        <a th:href="@{/clients/{id}/edit(id=${client.getId()})}"><button>Изменить</button></a>
        <form th:method="DELETE" th:action="@{/clients/{id}(id=${client.getId()})}"><input type="submit" value="Удалить"/></form>
    </div>

    <p th:text="'[Email]: ' + ${client.getEmail()}">[Email]: email</p>
    <p th:text="'[Sex]: ' + ${client.getSex()}">[Sex]: sex</p><br>

    <hr>
</body>
</html>